body {

    margin: 0;
    
    padding: 0;
    
    background: #010922;
    
    font-family: Arial;
    
    justify-content: center;
    
    }
  
  
  *{
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    }
    
    nav{
      background: #00031d;
      height: 80px;
      width: 100%;
    }
    label.logo{
      color: rgb(128, 198, 255);
      font-size: 30px;
      line-height: 80px;
      padding: 0 20px;
      font-weight: bold;
      font-family:'Times New Roman', Times, serif;
    }
    nav ul{
      float: right;
      margin-right: 14px;
    }
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    nav ul li a{
      color:rgb(208, 255, 0);
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      text-align:center;
      font-family:'Times New Roman', Times, serif;
    }
    nav ul li h5 a{
      color: rgb(208, 255, 0);;
    }
    a.active,a:hover{
      background: #36a8ff;
      transition: .5s;
    }
    .checkbtn{
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 14px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
    }